<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Itanium_Referral>
            <version>0.2.1.2</version>
        </Itanium_Referral>
    </modules>
    <global>
        <models>
            <itanium_referral>
                <class>Itanium_Referral_Model</class>
                <resourceModel>itanium_referral_resource</resourceModel>
            </itanium_referral>
            <itanium_referral_resource>
                <class>Itanium_Referral_Model_Resource</class>
                <entities>
                    <reward>
                        <table>itanium_reward</table>
                    </reward>
                    <reward_history>
                        <table>itanium_reward_history</table>
                    </reward_history>
                    <reward_rate>
                        <table>itanium_reward_rate</table>
                    </reward_rate>
                    <referral_customer>
                        <table>itanium_referral_customer</table>
                    </referral_customer>
                </entities>
            </itanium_referral_resource>
        </models>
        <resources>
            <itanium_referral_setup>
                <setup>
                    <module>Itanium_Referral</module>
                    <class>Itanium_Referral_Model_Resource_Setup</class>
                </setup>
            </itanium_referral_setup>
        </resources>
        <helpers>
            <itanium_referral>
                <class>Itanium_Referral_Helper</class>
            </itanium_referral>
        </helpers>
        <blocks>
            <itanium_referral>
                <class>Itanium_Referral_Block</class>
            </itanium_referral>
        </blocks>
        <resources>
            <itanium_referral_setup>
                <setup>
                    <module>Itanium_Referral</module>
                    <class>Itanium_Referral_Model_Resource_Setup</class>
                </setup>
            </itanium_referral_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <referral after="Mage_Adminhtml">Itanium_Referral_Adminhtml</referral>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <itanium_referral>
                    <file>itanium_referral.xml</file>
                </itanium_referral>
            </updates>
        </layout>
        <translate>
            <modules>
                <itanium_referral>
                    <files>
                        <default>Itanium_Referral.csv</default>
                    </files>
                </itanium_referral>
            </modules>
        </translate>
        <events>
            <adminhtml_customer_prepare_save>
                <observers>
                    <itanium_referral>
                        <class>itanium_referral/observer</class>
                        <method>saveReferralNotifications</method>
                    </itanium_referral>
                </observers>
            </adminhtml_customer_prepare_save>
            <adminhtml_customer_save_after>
                <observers>
                    <itanium_referral>
                        <class>itanium_referral/observer</class>
                        <method>saveReferralPoints</method>
                    </itanium_referral>
                </observers>
            </adminhtml_customer_save_after>
        </events>
    </adminhtml>

    <frontend>
        <routers>
            <itanium_referral>
                <use>standard</use>
                <args>
                    <module>Itanium_Referral</module>
                    <frontName>itanium_referral</frontName>
                    <!--<modules>
                        <itanium_referral before="Mage_Wishlist">Itanium_Referral</itanium_referral>
                    </modules>-->
                </args>
            </itanium_referral>
        </routers>
        <secure_url>
            <invitation>/itanium/</invitation>
        </secure_url>
        <layout>
            <updates>
                <itanium_referral>
                    <file>itanium_referral.xml</file>
                </itanium_referral>
            </updates>
        </layout>
    </frontend>
    <default>
        <itanium_referral>
            <general>
                <is_enabled>0</is_enabled>
                <is_enabled_on_front>0</is_enabled_on_front>
                <is_multitier>0</is_multitier>
                <publish_history>0</publish_history>
                <min_points_balance>1000</min_points_balance>
                <max_points_balance>100000</max_points_balance>
                <expiration_days>730</expiration_days>
                <expiry_calculation>dynamoc</expiry_calculation>
            </general>
            <points>
                <order>1</order>
                <rate>100</rate>
                <is_decay>1</is_decay>
                <decay_rate>0.002</decay_rate>
            </points>
        </itanium_referral>
    </default>
</config>